<mat-tree [cdkDropListData]="dataSource" [dataSource]="dataSource" [treeControl]="treeControl" (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="isDroppable" cdkDropList>
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag [cdkDragData]="node">
    <button mat-icon-button disabled></button>
    <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
      {{ node.type === 'table' ? 'table_rows' : 'table_chart' }}
    </mat-icon>
    Leaf Node: {{node.name}}
    <div *cdkDragPlaceholder class="drag-placeholder"></div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding cdkDrag [cdkDragData]="node">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
      {{ node.type === 'table' ? 'table_rows' : 'table_chart' }}
    </mat-icon>
    Branch Node: {{node.name}}
    <div *cdkDragPlaceholder class="drag-placeholder"></div>
  </mat-tree-node>
</mat-tree>
