<mat-tree [cdkDropListData]="dataSource" [dataSource]="dataSource" [treeControl]="treeControl" (cdkDropListDropped)="drop($event)" [cdkDropListSortingDisabled]="!sortable" cdkDropList>
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag [cdkDragData]="node">
    <button mat-icon-button disabled></button>
    <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
      {{ getIconFor(node.type) }}
    </mat-icon>
    {{node.name}}
    <div *cdkDragPlaceholder class="drag-placeholder"></div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: nodeHasChild" matTreeNodePadding cdkDrag [cdkDragData]="node">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
            (click)="expansionModel.toggle(node)">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
      {{ getIconFor(node.type) }}
    </mat-icon>
    {{node.name}}
    <div *cdkDragPlaceholder class="drag-placeholder"></div>
  </mat-tree-node>
</mat-tree>
